.sidebar {
    height: 100vh;
    width: 15rem;
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6rem;
    box-shadow: 2px 1px #888888;
  }
  .sidebar_title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 1.5rem;
  }
  .sidebar_ul {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  .sidebar_ul li {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  .sidebar_icon {
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 800px) {
    .sidebar_title {
      display: none;
    }
    .sidebar {
      width: 5rem;
    }
    .sidebar_ul {
      align-items: center;
      padding-left: 0;
    }
  }
  